name: Lean

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: leanprover/lean-action@v1
        with:
          use-mathlib-cache: false
          use-github-cache: false

      - run: |
          echo "Lean toolchain:"
          cat lean-toolchain
          lake update
          lake build

